.alm-admin-header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #fff;
	z-index: 10;
}

.alm-admin-header-brand {
	width: 250px;
	background: #282828;
	justify-content: flex-start;
}

.alm-admin-header-brand-logo {
    width: 60px;
    height: inherit;
    background: #282828;
}

.alm-admin-header-brand-name {
    width: calc(100% - 60px);
    height: inherit;
    justify-content: flex-start;
}

.alm-admin-header-brand-title {
    padding: 0px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.alm-admin-header-menu {
	width: calc(100% - 305px);
}

.alm-admin-header-profile {
	width: 55px;
}

.alm-admin-sidebar.open {
	width: 250px;
}

.alm-admin-sidebar {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 60px;
    height: calc(100vh - 100px);
    background: #3c3c3c;
    z-index: 10;
    overflow-y: scroll;
}

/*.alm-admin-sidebar.open {
	width: 300px;
}*/

.alm-admin-sidebar-group {

}

.alm-admin-sidebar.open .alm-admin-sidebar-group-title {
    padding: 10px 15px;
    text-align: left;
}

.alm-admin-sidebar-group-title {
    padding: 10px 0px;
	background: #fff;
	color: #000;
    font-size: 8px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}

.alm-admin-sidebar-item {
	position: relative;
	width: 100%;
	height: auto;
	background: #333;
	/*border-bottom: 1px solid rgba(255,255,255,0.1);*/
}

.alm-admin-sidebar-item:hover {
	cursor: pointer;
}

.alm-admin-sidebar-item:last-child {
	border: none;
}

.alm-admin-sidebar-item.active .alm-admin-sidebar-tab {
	background: #484848;
}

.alm-admin-sidebar-tab {
	width: 100%;
}

.alm-admin-sidebar-icon-container {
    width: 60px;
    height: 40px;
}

.alm-admin-sidebar-icon {
	width: 40px;
	height: 40px;
	color: #f6f6f7;
	font-size: 14px;
}

.alm-admin-sidebar.open .alm-admin-sidebar-title,
.alm-admin-sidebar.open .alm-admin-sidebar-dropdown {
    visibility: visible;
    opacity: 1;
}

.alm-admin-sidebar-title {
    visibility: hidden;
    opacity: 0;
    width: calc(100% - 60px);
    height: inherit;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
}

.alm-admin-sidebar-title a {
	width: 100%;
	height: 40px;
	color: #f6f6f7;
	justify-content: flex-start;
}

.alm-admin-sidebar-dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 12px;
	right: 0px;
    width: 30px;
    height: inherit;
    color: #adadad;
    transform: rotate(-90deg);
}

.alm-admin-sidebar-item.active .alm-admin-sidebar-dropdown {
	transform: rotate(0deg);
}

.alm-admin-sidebar-list {
    display: none; 
    width: 100%;
    background: #282828;
}

.alm-admin-sidebar-list-container {
	width: 100%;
}

.alm-admin-sidebar-list-item {
    height: 30px;
    padding-left: 75px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
    justify-content: flex-start;
}

.alm-admin-sidebar-list-item:hover {
	background: #3c3c3c;
	cursor: pointer;
}

.alm-admin-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	z-index: 10;
}

.alm-admin-footer-account {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 250px;
    height: 50px;
    background: #282828;
}

.alm-admin-footer-account-image {
	width: 60px;
	height: 50px;
	background: #333;
}

.alm-admin-footer-account-image img {
	width: 34px;
}

.alm-admin-footer-account-title {
    width: calc(100% - 70px);
    padding-left: 10px;
    color: #fff;
}

.alm-admin-footer-account-name {
	font-size: 12px;
	font-weight: 600;
}

.alm-admin-footer-account-type {
	font-size: 10px;
	font-weight: 300;
}

.alm-admin-page {
    position: relative;
    display: inline-block;
    left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: calc(100% - 60px);
    height: auto;
    min-height: calc(100vh - 100px);
    background: #f6f6f7;
}

.alm-admin-page-cover {
    width: 100%;
    height: 350px;
    background: linear-gradient(-15deg, #00ac53, #23c3e0);
}

.alm-admin-page-cover-title {
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
    color: #fff;
}

.alm-admin-page-container {
	justify-content: flex-start;
	align-items: flex-start;
    margin: 15px;
    /*padding: 15px;
    background: #fff;*/
}

.alm-admin-page-block {
    padding: 15px;
    margin: 5px;
    background: #fff;
}

.alm-admin-audit-menu .alm-admin-page-block {
	border-left: 4px solid #333;
}

.alm-admin-footer-copyright {
	position: absolute;
	width: calc(100% - 250px);
	right: 0px;
	/*background: #3b3b3b;*/
	background: rgba(20,20,20,0.8);
}

.alm-admin-footer-menu {
	width: calc(100% - 100px);
}

.alm-admin-footer-version {
	width: 100px;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}

/* Post */
	.alm-admin-page-post {
	    position: relative;
	    margin-bottom: 10px;
	    padding: 10px;
	}

	.alm-admin-page-post:last-child {
		margin: 0px;
	}

	.alm-admin-page-post-thumb {
		position: relative;
		width: 90px;
		height: 60px;
		background: #333;
	}

	.alm-admin-page-post-info {
		width: calc(100% - 90px);
	}

	.alm-admin-page-post-titles {
	    padding-left: 15px;
	}

	.alm-admin-page-post-title {
		text-transform: capitalize;
	    font-weight: 800;
	    margin-bottom: 2px;
	}

	.alm-admin-page-post-author {
	    font-size: 13px;
	    font-weight: 300;
	    font-style: italic;
	}

	.alm-admin-page-post-data {
		font-size: 12px;
	}

	.alm-admin-page-post-status,
	.alm-admin-page-post-views,
	.alm-admin-page-post-date {
		
	}


/* Audit */
.alm-admin-audit-section {
	
}

.alm-admin-audit-group.active {
	display: block;
}

.alm-admin-audit-group {
	display: none;
}

.alm-admin-audit-menu-title {
    font-weight: 400;
    font-size: 15px;
    background: #333;
    color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.alm-admin-audit-list {
    padding-left: 20px;
    margin-bottom: 5px;
    display: none;
}

.alm-admin-audit-list-item.active {
    font-weight: 600;
}

.alm-admin-audit-list-item {
    font-size: 12px;
    margin: 6px 0px;
    font-weight: 300;
    text-transform: capitalize;
    cursor: pointer;
}

.alm-admin-audit-title {
	font-size: 12px;
	font-weight: 800;
	text-transform: capitalize;
	padding: 5px 10px;
	margin-bottom: 15px;
	background: #333;
	color: #fff;
	display: none;
}

.alm-admin-audit-item {
    margin-bottom: 15px;
}

.alm-admin-audit-item:last-child {
	margin-bottom: 0px;
}

.alm-admin-audit-item-profile {

}

.alm-admin-audit-item-icon {
    width: 36px;
    height: 36px;
    background: #333;
    color: #fff;
}

.alm-admin-audit-item-title {
    font-weight: 600;
    font-size: 15px;
    width: calc(100% - 46px);
    margin-left: 10px;
    justify-content: flex-start;
}

.alm-admin-audit-item-block:last-child 
.alm-admin-audit-item-input {
    margin: 0px;
}

.alm-admin-audit-item-block {
    margin-top: 15px;
}

.alm-admin-audit-item-heading {
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 4px;
}

/*.alm-admin-audit-item-input {
    margin-right: 15px;
}*/

.alm-admin-audit-item-add-input {
	width: calc(100% - 40px);
}

.alm-admin-audit-item-add-btn {
	width: 40px;
	height: 40px;
	background: #333;
	color: #fff;
}

.alm-admin-audit-item-listing {
    margin-bottom: 10px;
}

.alm-admin-audit-listing-item {
	margin-bottom: 5px;
}

.alm-admin-audit-listing-item:before {
    content: '-';
    padding-right: 10px;
}

.alm-admin-audit-item-listing-value {
    width: calc(100% - 36px);
}

.alm-admin-audit-item-listing-remove {
    width: 20px;
    height: 20px;
    font-size: 12px;
    background: #f6f6f7;
}

input.alm-admin-audit-item-value {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(20,20,20,0.1);
	text-indent: 10px;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Lato';
}

select.alm-admin-audit-item-value {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(20,20,20,0.1);
    text-indent: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato';
}

textarea.alm-admin-audit-item-value {
	width: 100%;
	min-height: 100px;
    padding: 10px;
    margin: 0px;
    text-indent: 0px;
    border: 1px solid rgba(20,20,20,0.1);
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

/* New Post */
.alm-admin-page-new-post {
    width: 100%;
}